name: Deploy docs to GitHub Pages
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: 23.x
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        working-directory: .
        run: npm install
      - name: Build
        working-directory: .
        run: npm run docs:build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .vitepress/dist
